<div class="card">
    <div class="card-body">
      <div class="d-flex">
        <h4 class="card-title"><span class="lstick"></span>My Contact</h4>
      </div>
      <div class="message-box contact-box">
        <div class="message-widget contact-widget">
          <!-- Message -->
          <a href="#">
            <div class="user-img">
              <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle" />
              <span class="profile-status online pull-right"></span>
            </div>
            <div class="mail-contnet">
              <h5>Pavan kumar</h5>
              <span class="mail-desc">info@wrappixel.com</span>
            </div>
          </a>
          <!-- Message -->
          <a href="#">
            <div class="user-img">
              <img src="assets/images/users/2.jpg" alt="user" class="rounded-circle" />
              <span class="profile-status busy pull-right"></span>
            </div>
            <div class="mail-contnet">
              <h5>Sonu Nigam</h5>
              <span class="mail-desc">pamela1987@gmail.com</span>
            </div>
          </a>
          <!-- Message -->
          <a href="#">
            <div class="user-img">
              <span class="round">A</span>
              <span class="profile-status away pull-right"></span>
            </div>
            <div class="mail-contnet">
              <h5>Arijit Sinh</h5>
              <span class="mail-desc">cruise1298.fiplip@gmail.com</span>
            </div>
          </a>
          <!-- Message -->
          <a href="#">
            <div class="user-img">
              <img src="assets/images/users/4.jpg" alt="user" class="rounded-circle" />
              <span class="profile-status offline pull-right"></span>
            </div>
            <div class="mail-contnet">
              <h5>Pavan kumar</h5>
              <span class="mail-desc">kat@gmail.com</span>
            </div>
          </a>
          <!-- Message -->
          <a href="#">
            <div class="user-img">
              <img src="assets/images/users/5.jpg" alt="user" class="rounded-circle" />
              <span class="profile-status offline pull-right"></span>
            </div>
            <div class="mail-contnet">
              <h5>Andrew</h5>
              <span class="mail-desc">and@gmail.com</span>
            </div>
          </a>
          <!-- Message -->
          <a href="#">
            <div class="user-img">
              <img src="assets/images/users/6.jpg" alt="user" class="rounded-circle" />
              <span class="profile-status offline pull-right"></span>
            </div>
            <div class="mail-contnet">
              <h5>Jonathan Jones</h5>
              <span class="mail-desc">jj@gmail.com</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
