<div class="card">
    <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap" />
    <div class="card-body">
      <h3 class="font-normal">Business development of rules 2017</h3>
      <span class="label label-info label-rounded">Technology</span>
      <p class="m-b-0 m-t-20">
        Titudin venenatis ipsum aciat. Vestibulum ullamcorper quam. nenatis
        ipsum ac feugiat. Ibulum ullamcorper
      </p>
      <div class="d-flex m-t-20">
        <button class="btn p-l-0 btn-link">Read more</button>
        <div class="ml-auto align-self-center">
          <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
          <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
        </div>
      </div>
    </div>
  </div>
