<div class="card">
    <div class="card-body">
      <div class="d-flex">
        <h4 class="card-title"><span class="lstick"></span>Website Visit</h4>
        <ul class="list-inline m-b-0 ml-auto">
          <li class="list-inline-item">
            <h6 class="text-success">
              <i class="fa fa-circle font-10 m-r-10"></i>Site A view
            </h6>
          </li>
          <li class="list-inline-item">
            <h6 class="text-info">
              <i class="fa fa-circle font-10 m-r-10"></i>Site B view
            </h6>
          </li>
        </ul>
      </div>
      <div style="height: 350px;" class="mt-4 pt-4">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
        </canvas>
      </div>
    </div>
  </div>
